* {box-sizing: border-box;}
body    {background-color: #EAEAEA;
        color: #666666;
        font-family: Arial, Verdana, sans-serif;}
header  {background-color: #002171; 
        color: #FFFFFF;
        font-family: Georgia, sans-serif;
        height: 120px;}
header a {text-decoration: none;}
header a:link {color: #FFFFFF;}
header a:visited {color: #FFFFFF;}
header a:hover {color: #90C7E3;}
h1      {padding-top: .5em;
        text-align: center;
        font-size: 3em;
        letter-spacing: .25em;}
h2      {color: #1976D2; 
        font-family: Georgia, serif;}
h3      {font-family: Georgia, serif;}
nav     {font-weight: bold;
        padding-top: .5em;
        padding-right: .5em;
        padding-bottom: .5em;
        float: left;
        width: 160px;
        padding: 0;
        font-size: 1.2em;
        position: fixed;}
nav a {text-decoration: none;}
nav a:link {color: #5C7FA3;}
nav a:visited {color: #344873;}
nav a:hover {color: #A52A2A;}
nav ul {list-style-type: none; 
        padding-left: 1em;}
dt      {font-weight: bold;
        color: #002171; }
.resort {color: #1976D2;
        font-size: 1.2em;}
#wrapper {margin-left: auto;
        margin-right: auto;
        width: 80%;
        min-width: 960px;
        max-width: 2048px;
        background-color: #FFFFFF; 
        box-shadow: 5px 5px 5px #1e1e1e;
        background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
        background-repeat: no-repeat;}
main  {padding-left: 2em;
        padding-right: 2em;
        display: block; 
        background-color: #FFFFFF;
        margin-left: 170px;
        overflow: auto;}
#homehero {height: 300px;
        margin-left: 170px;
        background-image: url(coast.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;}
#yurthero {height: 300px;
        margin-left: 170px;
        background-image: url(yurt.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;}
#trailhero {height: 300px;
        margin-left: 170px;    
        background-image: url(trail.jpg);
        background-size: 100% 100%;
        background-repeat: no-repeat;}
section {float: left;
        width: 33%;
        padding-left: 2em;
        padding-right: 2em; }
footer {text-align: center;
        margin-left: 170px;
        font-size: .70em;
        font-style: italic;
        padding: 1em; 
        background-color: #FFFFFF;}